*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: antiquewhite;
    background-color: black;
    text-align: center;
}

h1:hover{
    color: black;
    background-color: antiquewhite;
}

p{
    color: cornflowerblue;
}

h2{
    text-align: center;
    color: darkslateblue;
}